@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #92a8ad;
  color: #555;
  line-height: 1.6;
  overflow-x: hidden;
}

/* Navbar */
.top {
  background-color: #fff;
  width: 100vw;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.top .nav-title {
  width: 300px;
  font-size: 0.8rem;
  padding: 10px 20px;
  text-align: left;
}
.top .navbar {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 30px;
  list-style: none;
  padding: 10px 20px;
  margin: 0;
  font-weight: 500;
}

/* Popup Navbar */
.mobile-navbar {
  display: none;
}

/* Banner */
.banner {
  background: url("../img/banner.svg") no-repeat center center/cover;
  height: 250px;
  width: 100vw;
  position: relative;
}

.banner div {
  background-color: #f5f5eb;
  border: #bcc1c4 0.5px solid;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  padding: 30px;
  position: absolute;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.banner div h1 {
  font-family: "Caveat", sans-serif;
  font-size: 3rem;
}

/* Main Content */
main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

main .container {
  margin: 40px 20px;
  display: grid;
  width: 1200px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 50px auto; /* 高度部分剩下的資料必須自動 */
  grid-auto-flow: row;
  gap: 20px;
}

/* Promotion Item */
main .container .promotion-item {
  grid-column: span 2;
  background-color: #f5f5eb;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  border: #bcc1c4 0.5px solid;
}

main .container .promotion-item p {
  margin: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

main .container .promotion-item .p-img-container {
  width: 80px;
  height: 50px;
  background: url("../img/promotion.svg") no-repeat center center/cover;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* Title Item */
main .container .title-item {
  background: url("../img/titleItem.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  border: #bcc1c4 0.5px solid;
  overflow: hidden;
  min-width: none;
  min-height: 200px; 
}

div.title-item.item1,
div.title-item.item6 {
  grid-column: span 2;
}

/* Star */
main .container .title-item i.fa-solid {
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgba(179, 179, 179, 0.9);
}

/* Title Text */
main .container .title-item .text {
  width: 100%;
  padding: 5px;
  color: #555;
  background-color: rgba(245, 245, 235, 0.8);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Button */
.btn {
  background-color: #1f5958;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 30px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #f5f5eb;
  color: #555;
}

.disable {
  display: none;
}


/* RWD  */
/* for Screen between 600px - 1200px */
@media (max-width: 1200px) {
  /* Banner Title */
  .banner div {
    padding: 10px;
    width: 60%;
  }

  /* Main Content */
  main .container {
    width: 90%;
    margin: 50px auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 50px) repeat(3, 200px);
    gap: 20px;
  }

  /* Promotion Item  */
  main .container .promotion-item.item3 {
    grid-column: 1 / span 4;
  }

  /* Title Item  */
  main .container .title-item.item1,
  main .container .title-item.item6 {
    grid-column: span 1;
  }

  main .container .title-item.item9,
  main .container .title-item.item10 {
    grid-column: span 2;
  }

  .span1 {
    grid-column: span 1;
  }
}



/* for  Screen smaller than 600px */
@media (max-width: 600px) {
  /* Navbar */
  .top .navbar {
    display: none;
  }

  /* Hamburger Icon */
  .hamburger-menu {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    margin: 0 20px;
    z-index: 8;
  }

  .hamburger-menu > div {
    position: relative;
    width: 30px;
    height: 2px;
    background-color: #555;
    display: flex;

    transition: all 0.4s ease;
  }

  .hamburger-menu > div::before,
  .hamburger-menu > div::after {
    content: "";
    position: absolute;
    background-color: #555;
    width: 30px;
    height: 2px;
    transition: all 0.3s ease;
    top: 0;
  }

  .hamburger-menu > div::before {
    transform: translateY(-8px);
  }

  .hamburger-menu > div::after {
    transform: translateY(8px);
  }

  /* 被點擊時加入改變樣式 */
  .hamburger-menu.open > div {
    transform: rotate(135deg);
  }

  .hamburger-menu.open > div::before,
  .hamburger-menu.open > div::after {
    transform: rotate(90deg);
  }

  /* Popup Navbar */
  .mobile-navbar {
    width: 50%;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: #fff;
    z-index: 5;
    position: fixed;
    list-style: none;
    border-left: 1px solid #e5e5e5;
    box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-top: 80px;

    /* 隱藏在右邊 */
    transform: translateX(100%);
    transition: all 0.3s ease-in;
  }

  /* 被點擊時Popup Menu往左滑出 */
  .mobile-navbar.open {
    transform: translateX(0);
  }

  /* Banner Title */
  .banner div {
    padding: 5px;
    width: 90%;
  }

  /* Main Content */
  main .container {
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Promotion Item */
  main .container .promotion-item {
    width: 100%;
  }

  /* Title Item */
  main .container .title-item {
    width: 100%;
    height: 300px;
  }

  main .container .title-item .text {
    padding: 10px;
  }
}
